{% extends 'root.html' %}

{% block title %}
    HASKER: {{ question.title }}
{% endblock %}

{% block body %}
    <div class="container text-center">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-9" style="text-align: left;">
            <h1>{{ question.title }}</h1>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-2">
            {% if q_vote_type == '+' %}
            <button class="btn btn-outline-warning incr-vote-btn"
                    data-question-id="{{ question.pk }}">Up</button>
            {% else %}
            <button class="btn btn-warning incr-vote-btn"
                    data-question-id="{{ question.pk }}">Up</button>
            {% endif %}
                <h5 data-question-id="{{ question.pk }}">{{ question.votes }}</h5>
            {% if q_vote_type == '-' %}
            <button class="btn btn-outline-dark decr-vote-btn"
                    data-question-id="{{ question.pk }}">Down</button>
            {% else %}
            <button class="btn btn-dark decr-vote-btn"
                    data-question-id="{{ question.pk }}">Down</button>
            {% endif %}
        </div>
        <div class="col-9">
            <h6><div style="text-align: justify;">{{ question.content }}</div></h6>
            <div class="d-flex align-items-center">
                <div>
                    <div class="btn-group" role="group" aria-label="Tags">
                        {% for tag in question.tags.all %}
                            <a class="btn rounded-pill text-bg-warning btn-sm"
                               href="{% url 'question:question_tag_search' tag.tag_word %}"
                               role="button"
                               style="margin-right: 5px;">{{ tag.tag_word }}</a>
                        {% endfor %}
                    </div>
                </div>
                    <div class="flex-grow-1"></div>
                <div class="ml-auto d-flex align-items-center">
                    {% if question.author.image.url != None %}
                        <img src="{{ question.author.image.url }}"
                             alt="Avatar"
                             class="rounded-circle"
                             width="50"
                             height="50"
                             style="margin-right: 5px;">
                    {% else %}
                        <img src="/media/users_images/def_user.png"
                             alt="Avatar"
                             class="rounded-circle"
                             width="50"
                             height="50"
                             style="margin-right: 5px;">
                    {% endif %}
                    <a class="btn rounded-pill text-bg-secondary btn-sm ms-auto"
                       href="#"
                       style="margin-right: 5px;">
                        {{ question.author }}
                    </a>
                </div>
            </div>
        <br>
        </div>
      <hr>
        {% if answers %}
            {% for answer in answers %}
                <div class="container text-center">
                  <div class="row">
                    <div class="col-2 align-items-center">
                        {% for key, value in a_vote_type.items %}
                            {% if key == answer.pk %}
                                {% if value == '+' %}
                                    <button class="btn btn-outline-warning incr-vote-answer-btn"
                                            data-answer-id="{{ answer.pk }}">Up</button>
                                {% else %}
                                    <button class="btn btn-warning incr-vote-answer-btn"
                                            data-answer-id="{{ answer.pk }}">Up</button>
                                {% endif %}
                                    <h5 data-answer-id="{{ answer.pk }}">{{ answer.votes }}</h5>
                                {% if value == '-' %}
                                    <button class="btn btn-outline-dark decr-vote-answer-btn"
                                            data-answer-id="{{ answer.pk }}">Down</button>
                                {% else %}
                                    <button class="btn btn-dark decr-vote-answer-btn"
                                            data-answer-id="{{ answer.pk }}">Down</button>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if answer.is_right %}
                            <h3> ★ </h3>
                        {% endif %}
                        {% if choose_right and question.author == user %}
                            <a class="btn btn-outline-success btn-sm"
                               href="{% url "question:right_answer" question.pk answer.pk %}"
                               role="button"
                               style="margin: 5px;">Is right?</a>
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <div class="container">
                            <p style="text-align: justify;">{{ answer.content }}</p>
                                <div class="container text-center">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <div class="btn-group" role="group" aria-label="Tags">
                                                </div>
                                            </div>
                                                <div class="flex-grow-1"></div>
                                            <div class="ml-auto d-flex align-items-center">
                                                {% if answer.author.image.url != None %}
                                                    <img src="{{ answer.author.image.url }}"
                                                         alt="Avatar"
                                                         class="rounded-circle"
                                                         width="50"
                                                         height="50"
                                                         style="margin-right: 5px;">
                                                {% else %}
                                                    <img src="/media/users_images/def_user.png"
                                                         alt="Avatar"
                                                         class="rounded-circle"
                                                         width="50"
                                                         height="50"
                                                         style="margin-right: 5px;">
                                                {% endif %}
                                                <a class="btn rounded-pill text-bg-secondary btn-sm ms-auto"
                                                   href="#">
                                                    {{ answer.author }}
                                                </a>
                                            </div>
                                        </div>
                                    <br>
                                </div>
                        </div>
                    </div>
                  </div>
                </div>
                 <hr>
            {% endfor %}
        {% else %}
            <br>
            <br>
            <br>
                <h4 class="text-center">There are no answers now.</h4>
            <br>
            <br>
            <br>
        {% endif %}
        {% if user.is_superuser %}  {% endif %}
      </div>
    </div>
    {% if user.is_authenticated %}
        <div class="container">
            <h3>Your answer</h3>
            <form action="{% url "question:add_answer" question.pk %}" method="post">
              {% csrf_token %}
                <div class="mb-3">
                    <label for="text_input" class="form-label">Enter answer:</label>
                    <input type="text" class="form-control" id="text_input" name="text_input">
                </div>
                <button type="submit" class="btn btn-primary">Answer</button>
            </form>
        </div>
    {% endif %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Обработчик клика на кнопке увеличения голоса
        $(".incr-vote-btn").click(function() {
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            var questionId = $(this).data("question-id");
            var button = $(this);
            var otherButton = $(this).closest('.col-2').find('.decr-vote-btn');
            $.ajax({
                type: "POST",
                url: "{% url 'question:incr_vote_question' 0 %}".replace('0', questionId),
                data: {
                        csrfmiddlewaretoken: csrftoken  // Передаем CSRF-токен в запросе
                        },
                dataType: "json",
                success: function(data) {
                    // Обновляем отображение количества голосов
                    $("h5[data-question-id='" + questionId + "']").text(data.votes);
                    otherButton.removeClass('btn-outline-dark').addClass('btn-dark');
                    if (String(data.vote_type) === '+') {
                        button.removeClass('btn-warning').addClass('btn-outline-warning');
                    } else {
                        button.removeClass('btn-outline-warning').addClass('btn-warning');
                    }
                }
            });
        });

        // Обработчик клика на кнопке уменьшения голоса
        $(".decr-vote-btn").click(function() {
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            var questionId = $(this).data("question-id");
            var button = $(this);
            var otherButton = $(this).closest('.col-2').find('.incr-vote-btn');
            $.ajax({
                type: "POST",
                url: "{% url 'question:decr_vote_question' 0 %}".replace('0', questionId),
                data: {
                        csrfmiddlewaretoken: csrftoken  // Передаем CSRF-токен в запросе
                        },
                dataType: "json",
                success: function(data) {
                    // Обновляем отображение количества голосов
                    $("h5[data-question-id='" + questionId + "']").text(data.votes);
                    otherButton.removeClass('btn-outline-warning').addClass('btn-warning');
                    if (String(data.vote_type) === '-') {
                        button.removeClass('btn-dark').addClass('btn-outline-dark');
                    } else {
                        button.removeClass('btn-outline-dark').addClass('btn-dark');
                    }
                }
            });
        });

        // Обработчик клика на кнопке увеличения голоса
        $(".incr-vote-answer-btn").click(function() {
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            var answerId = $(this).data("answer-id");
            var button = $(this);
            var otherButton = $(this).closest('.col-2').find('.decr-vote-answer-btn');
            $.ajax({
                type: "POST",
                url: "{% url 'question:incr_vote_answer' 0 %}".replace('0', answerId),
                data: {
                        csrfmiddlewaretoken: csrftoken  // Передаем CSRF-токен в запросе
                        },
                dataType: "json",
                success: function(data) {
                    // Обновляем отображение количества голосов
                    $("h5[data-answer-id='" + answerId + "']").text(data.votes);
                    otherButton.removeClass('btn-outline-dark').addClass('btn-dark');
                    if (String(data.vote_type) === '+') {
                        button.removeClass('btn-warning').addClass('btn-outline-warning');
                    } else {
                        button.removeClass('btn-outline-warning').addClass('btn-warning');
                    }
                }
            });
        });

        // Обработчик клика на кнопке уменьшения голоса
        $(".decr-vote-answer-btn").click(function() {
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            var answerId = $(this).data("answer-id");
            var button = $(this);
            var otherButton = $(this).closest('.col-2').find('.incr-vote-answer-btn');
            $.ajax({
                type: "POST",
                url: "{% url 'question:decr_vote_answer' 0 %}".replace('0', answerId),
                data: {
                        csrfmiddlewaretoken: csrftoken  // Передаем CSRF-токен в запросе
                        },
                dataType: "json",
                success: function(data) {
                    // Обновляем отображение количества голосов
                    $("h5[data-answer-id='" + answerId + "']").text(data.votes);
                    otherButton.removeClass('btn-outline-warning').addClass('btn-warning');
                    if (String(data.vote_type) === '-') {
                        button.removeClass('btn-dark').addClass('btn-outline-dark');
                    } else {
                        button.removeClass('btn-outline-dark').addClass('btn-dark');
                    }
                }
            });
        });
    });
</script>


{% endblock %}