{% extends 'root.html' %}
{% load humanize %}

{% block title %}
    HASKER: ASK!
{% endblock %}


{% block body %}
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <ul class="nav nav-pills">
                <form method="post" class="nav-pills-form">
                {% csrf_token %}
                    <li class="nav-item">
                        <button type="submit"
                                class="nav-link {% if active_button == 'option1' %}active{% endif %}"
                                name="filter_option"
                                value="option1">
                            New questions
                        </button>
                    </li>
                </form>
                <form method="post" class="nav-pills-form">
                    {% csrf_token %}
                    <li class="nav-item">
                        <button type="submit"
                                class="nav-link {% if active_button == 'option2' %}active{% endif %}"
                                name="filter_option"
                                value="option2">
                            Hot questions
                        </button>
                    </li>
                </form>
            </ul>
        </div>
    </nav>
</div>
    <hr>
<br>
  {% if question_list %}
    <ul>
        {% for question in question_list %}
            <div class="container text-center">
              <div class="row">
                <div class="col-1">
                    <h5>{{ question.votes }}</h5>
                    votes
                </div>
                <div class="col-2">
                    <h5>{{ question.num_answers }}</h5>
                    answers
                </div>
                <div class="col-6">
                    <h3><a href="{% url "question:question_detail" question.pk %}">{{ question.title }}</a></h3>
                    {% for tag in question.tags.all %}
                        <a class="btn rounded-pill text-bg-warning btn-sm"
                           href="{% url 'question:question_tag_search' tag.tag_word %}"
                           role="button">
                            {{ tag.tag_word }}
                        </a>
                    {% endfor %}
                </div>
                <div class="col-2">
                    <h5>{{ question.author }}</h5>
                    {{ question.created_at|naturaltime}}
                </div>
              </div>
            </div>
     <hr>
        {% endfor %}
    </ul>
  {% else %}
    <p>There are no question now.</p>
  {% endif %}

    {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                    <a class="page-link"
                        href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }} {% else %} # {% endif %}"
                        tabindex="-1" aria-disabled="true">
                        Previous
                    </a>
                </li>
            {% for page in page_obj.paginator.page_range %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page }}">
                        {{ page }}
                    </a>
                </li>
            {% endfor %}
                <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                    <a class="page-link"
                        href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {% else %} # {% endif %}"
                        tabindex="-1" aria-disabled="true">
                        Next
                    </a>
                </li>
            </ul>
        </nav>

    {% endif %}


{% endblock %}