{% extends 'root.html' %}


{% block title %}
  {{ user.username }}
{% endblock %}

{% block body %}

    <div class="container text-center">
      <div class="row">
        <div class="col-4" style="padding-top: 50px;">
          <img src="{{ user.image.url }}" class="img-fluid square-image" style="max-width: 200px; max-height: 200px;" alt="Square image">
        </div>
        <div class="col-8" style="padding-top: 50px;">
          <h1>User <strong>{{ user.username }}</strong></h1>
            <div>
                <h3> Profile </h3>
                  <div>
                      <div class="row">
                        <div class="col col-2">
                          <strong> Email: </strong>
                        </div>
                        <div class="col">
                          {{ user.email }}
                        </div>
                      </div>
                  </div>
            </div>
        </div>
      </div>
    </div>

{% endblock %}